.counter-button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: orange;
  margin: 10px;
  border: none;
  font-weight: bold;
  color: white;
}

.counter {
  width: 125px;
  display: block;
  margin: 0 auto;
}
