<div class="side-selector" (click)="update(side.name)">
  <mat-radio-button [checked]="checked">
    <span class="product-name">{{ side.name }}</span>
  </mat-radio-button>
  <ng-template [ngIf]="checked">
    <mat-form-field *ngIf="side.options" appearance="fill">
      <mat-label>{{ side.modifierName }}</mat-label>
      <mat-select
        [value]="value.sideModifier"
        (selectionChange)="changeDropdown($event)"
        form
      >
        <mat-option *ngFor="let option of side.options" [value]="option">{{
          option
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!side.options" appearance="fill">
      <mat-label>{{ side.modifierName }}</mat-label>
      <input
        #sideQuantity
        matInput
        type="number"
        [min]="1"
        [value]="value.sideModifier"
        (change)="changeInput($event)"
      />
    </mat-form-field>
  </ng-template>
</div>
