<div>
  <mat-dialog-content>
    <form [formGroup]="form">
      <img [src]="item.image" alt="{{ item.name }}" />
      <h1>{{ item.name }}</h1>
      <p class="description">
        {{ item.description }}
      </p>
      <app-dropdown-options
        *ngIf="item.option.limit === 1"
        [option]="item.option"
        formControlName="options"
      ></app-dropdown-options>
      <app-checkbox-option
        *ngIf="item.option.limit > 1"
        [option]="item.option"
        formControlName="options"
      ></app-checkbox-option>
      <app-sides [sides]="item.sides" controlName="side"></app-sides>
      <app-special-requests controlName="requests"></app-special-requests>
      <app-counter
        [min]="1"
        class="item-counter"
        formControlName="quantity"
      ></app-counter>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="actions">
    <button mat-stroked-button mat-dialog-close mat-dialog-close="cancel">
      Cancel
    </button>
    <button
      mat-raised-button
      mat-dialog-close
      [mat-dialog-close]="form.value"
      class="btn-primary"
      [disabled]="!form.valid"
    >
      Order
    </button>
  </mat-dialog-actions>
</div>
